.Navigation {
  width: 90px;
  height: 100vh;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.NavBar-header {
  background: var(--main-bg-color);
  filter: brightness(85%);
  width: 90px;
  height: 90px;
}

.NavLink {
  width: 90px;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  border: 3px solid transparent;
  cursor: pointer;
}

.NavLink.active {
  border-right: 3px solid white;
}

.Navigation :nth-child(2) {
  margin-top: 15px;
}

.Navigation :nth-last-child(2) {
  margin: auto 0 10px 0;
}
.Navigation :last-child {
  margin: 10px 0 15px 0;
}
