.SocialNav {
  width: 100%;
  display: flex;
  padding: 0 15px;
}

.SocialNavLink {
  width: 60px;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  border: 3px solid transparent;
}

.SocialNavLink.active {
  border-right: 3px solid white;
}
