.UserInfo {
  padding: 15px;
  display: flex;
  text-align: right;
  min-width: fit-content;
}

.UserInfo div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UserInfo img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 15px;
}

.UserInfo h2 {
  font-weight: 600;
}
