.Drawer {
  width: 0;
  height: 100vh;
  background: var(--main-bg-color);
  transition: width 0.5s ease-in-out;
}

.Drawer.open {
  width: 690px;
}

.Drawer-header {
  width: 100%;
  background: #2784d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.openToggle {
  background: #2784d9;
  height: 100%;
  width: 3px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.openToggle:hover {
  width: 5px;
}
